.bg-hero-image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Lilita One', sans-serif;
}

body {
  background-image: url("purpblubg.png");
  background-color: #000000;
  background-repeat: no-repeat;
  color: #000000;
  background-size: cover;
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-size: 5rem;
}
.m-3 {
  color: rgb(0, 0, 0);
  font-family: 'Lilita One', sans-serif;
}

.db {
  background-image: url(rpshero.jpg);
      background-size: cover;
      background-position: center, center;
      background-repeat: no-repeat;
      border-radius: 20px;
  height: 200%;
  
}



#rock{
  background-image: url("rock.jpg");
  background-position: center,center;
 border-color: #ffffff;
 color: #631d5c;
 width: 200px;
 height: 200px;
 border-radius: 100%;
 border-width: 20px;
 margin-top: 10%;
}
#rock:link{
 background-image: url("rock.jpg");
 background-position: center,center;
}
#rock:visited{
 background-image: url("rock.jpg");
 background-position: center,center;
}
 #rock:hover{
   background-image: url("rock.jpg");
   background-position: center,center;
   background-size: 190px;
 }
#rock:active{
 background-image: url("rock.jpg");
 background-position: center,center;
 color: #631d5c;
 background-size: 180px;
 }


 #paper{
  background-image: url("paper.jpg");
  background-position: center,center;
 border-color: #ffffff;
 color: #631d5c;
 width: 200px;
 height: 200px;
 border-radius: 100%;
 border-width: 20px;
 margin-top: 10%;
}
#paper:link{
 background-image: url("paper.jpg");
 background-position: center,center;
}
#paper:visited{
 background-image: url("paper.jpg");
 background-position: center,center;
}
 #paper:hover{
   background-image: url("paper.jpg");
   background-position: center,center;
   background-size: 190px;
 }
#paper:active{
 background-image: url("paper.jpg");
 background-position: center,center;
 color: #631d5c;
 background-size: 180px;
 }




#scissors{
   background-image: url("scissors.jpg");
   background-position: center,center;
  border-color: #ffffff;
  color: #631d5c;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border-width: 20px;
  margin-top: 10%;
}
#scissors:link{
  background-image: url("scissors.jpg");
  background-position: center,center;
}
#scissors:visited{
  background-image: url("scissors.jpg");
  background-position: center,center;
}
  #scissors:hover{
    background-image: url("scissors.jpg");
    background-position: center,center;
    background-size: 190px;
  }
#scissors:active{
  background-image: url("scissors.jpg");
  background-position: center,center;
  color: #631d5c;
  background-size: 180px;
  }
.score{
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-size: 4rem;
  
}
.divy{
  text-align: center;
}
.line{
  color: white;
  margin-top: 5%;
}
#Computerch{
  color: #ffffff;
  width: 200px;
  height: 200px;
  border-width: 20px;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom:20%;
  color:#ffffff;
  width: 200px;
  height: 200px;
  background-position: center,center;
  background-color: transparent;
  border-radius: 20%;
  border-width: 0px;
  
}
#refresh{
  text-align: center;
}

#restartbtn{
  background-color: pink;
  color: #000000;
  border-radius: 5px;
  font-family: 'Lilita One', sans-serif;
}
#restartbtn:hover{
  background-color: aqua;
  font-family: 'Lilita One', sans-serif;
}
  

#Userch{
 color: #ffffff;
  width: 200px;
  height: 200px;
  border-width: 20px;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom:20%;
  color:#ffffff;
  width: 200px;
  height: 200px;
  background-position: center,center;
  background-color: transparent;
  border-radius: 20%;
  border-width: 0px;
  
}
.usertext{
  margin-top: 50px;
  font-size: 20px
  
  
}

.comptext{
  margin-top: 0px;
  font-size: 20px
}




